.form {
    margin-bottom: 2rem;
}

.form_inputs-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.form_input-name {
    min-width: 300px;
    padding: 20px 25px;
    background: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.form_input-type {
    min-width: 300px;
    padding: 20px 25px;
    background: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}
.form_btn{
    padding: 10px 24px;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    background-color: #d93f3f;
    color: #ffffff;
    border: none
}

