body {
    background-image: linear-gradient(to right, #0ccda3, #c1fcd3);
    color: aliceblue;
    background-size: 100% 100%;
    gap: 5%;
    background-repeat: repeat;
    opacity: 100%;
     }


.logo-container img {
    max-width: 100%;
}
.home_title{
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: red;
}

.home_description {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    
}
.home_form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokeball_img {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: end;
    margin-top: -40px;
}